html{
  scroll-behavior: smooth;
  background-color: black;
  text-decoration: none;
  color: white;
/*  background-image: url('img/logo.png');*/
}


@font-face { font-family: Gilroy; src: url('Gilroy.ttf'); } 
body {
  margin: 0;
  background: black;
  padding: 0;
  overflow-x:hidden; 
  -webkit-touch-callout: none; /* iOS Safari  */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  cursor: none;
  font-family: Gilroy;
}

@media (max-height: 319px) {
  body{
    display: none;
  }
  html{
    width: 319px;
    height: 319px;
    background-image: url('img/smallscreenbg.png');
    background-position: center;
    background-repeat: repeat;
  }
}

/* Header (1 Page) */

.header {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
  line-height: 35px;
}

.text1{
  color: white;
/*  background-color: brown;*/
}


.text1:hover {
  color: black !important;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.text2 {
  color: black !important;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
/*  background-color: blue;*/
}




.text2:hover {
  color: white !important;
}



.text3{
  font-size: 14px;
/*  background-color: green;*/
  display: flex;
  position: relative;
  top: -45px;
}


.text3:hover {
  opacity: 0.3;
}

@media (max-height: 324px) {
  .text3{
    display: none;
  }
}

p{
  display: flex;
  position: relative;
  top: -15px;
}






.logo1 {
  display: flex;
  position: static;
background-image: url('img/logo.png');
/*background-size: 30%;*/
/*background-color: red;*/
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 150px;
}


.logo1:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-height: 300px) {
  .logo1{
    display: none;
  }
}

/* END OF Header (1 Page)*/








/* Custom Cursor */

*,
*::after,
*::before {
    box-sizing: border-box;
    cursor: none !important;
}

.cursor__inner {
    z-index: 99999999999999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
}

.cursor__inner--dot {
    width: 8px;
    height: 8px;
    background: #fff;
}

.cursor__inner--circle {
    width: 35px;
    height: 35px;
    border: 2px solid red;
    border: 2px solid #fff;
}
@media screen and (max-width: 479px){
    .cursor__inner{
/*        display: none;*/
    }
    .cursor__inner--dot{
/*       display: none; */
    }
    .cursor__inner--circle{
/*       display: none; */
    }
}
@media screen and (max-width: 959px){
    .cursor__inner{
/*        display: none;*/
    }
    .cursor__inner--dot{
/*       display: none; */
    }
    .cursor__inner--circle{
/*       display: none; */
    }
}

/* END OF Custom Cursor */























































.btn1 {
  background-image:  url('img/UP2.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover;*/
background-position: center;
  background-size: 40px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 60%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;

}


.btn1:hover {
  background-image:  url('img/UP1.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover; */
background-position: center;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 60%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn1{
    display: none;
  }
}

.btn2 {
  background-image:  url('img/pr1.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover; */
background-position: center;
background-size: 40px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 50%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}


.btn2:hover {
    background-image:  url('img/pr2.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover; */
background-position: center;
background-size: 40px;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 50%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn2{
    display: none;
  }
}

.btn3 {

      background-image:  url('img/a1.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover; */
background-position: center;
background-size: 30px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 40%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}


.btn3:hover {
      background-image:  url('img/a2.png');
  background-repeat: no-repeat;
/*  background-attachment: fixed; */
/*  background-size: cover; */
background-position: center;
background-size: 30px;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 40%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
/*  border-bottom: none;*/
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn3{
    display: none;
  }
}








/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.5;
  background: #262626; 
/*  opacity: 0%;*/
    border-radius: 0% 0% 0% 0%;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border: solid;
  border-radius: 1px;
  border-color: white;
  border-radius: 0% 0% 0% 0%;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262626; 
/*  opacity: 0%;*/
}


.mouse_scroll {
/*  display: block;*/
background-position: top;
display: inline;
position: static;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
/*  border-radius: 10% 30% 50% 70%;*/
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
/*  top: 170px;*/
}

.wheel {
  display: flex;
  position: absolute;
  height: 5px;
  width: 2px;
/*  display: block;*/
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.mousepos{
  display: static;
position: fixed;
/*background-color: red;*/
bottom: 20px;
background-position: center;
}

@media (max-height: 500px) {
  .mousepos{
    display: none;
  }
}


