/*Display Settings*/
#cursor1 {
/*      display: none;*/
opacity: 0;
position: absolute;
}

.pcwindow{
display: block;
  animation: cursor4 1s infinite;
}
.mobwindow{
display: block;
  animation: cursor4 1s infinite;
}

/*@media (max-width: 558px) {
.pcwindow{
display: none;
}
.mobwindow{
display: block;
}

}*/
@media (max-width: 558px) {
.pcwindow{
display: none;
}

.mobwindow{
display: block;
}
}

@media (min-width: 558px) {
.pcwindow{
display: block;
}

.mobwindow{
display: none;
}
}

@media (max-height: 750px) {
.pcwindow{
display: none;
}

.mobwindow{
display: block;
}
}

@media (min-height: 750px) {
.pcwindow{
display: block;
}

.mobwindow{
display: none;
}
}


@font-face { font-family: Samsung Sharp Sans; src: url('../fonts/Font1.otf'); } 

.mb1{
  position: revert;
  justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
display: flex;
position: relative;
/*top: 5vh;*/
/*  position: relative;*/
  background-color: black;
  border: 2px solid;
  border-radius: 0px;
  border-color: white;
  color: white;
  width: 15vh;
  height: 8vh;
  font-size: 0.8em;
  font-family: Samsung Sharp Sans;
}
/*END OF Display Settings*/