.container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.logo {
  width: 100%;
  height: 30%;
  background-image: url('../img/mlogo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
}

.divider {
  background-color: black;
  width: 100%;
  height: 5vh;
}

.cta-button {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
/*  font-size: 1.2rem;*/
font-size: 5vh;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: white;
  color: black;
}


.adminka {
  width: 100%;
  height: 150px;
  background-image: url('../img/mb1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.adminka:hover {
  width: 100%;
  height: 150px;
  background-image: url('../img/hmb1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.adms {
  width: 100%;
  height: 150px;
  background-image: url('../img/mas.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.adms:hover {
  width: 100%;
  height: 150px;
  background-image: url('../img/hmas.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.hmxn {
  width: 100%;
  height: 150px;
  background-image: url('../img/mxn.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.hmxn:hover {
  width: 100%;
  height: 150px;
  background-image: url('../img/hmxn.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.hmot {
  width: 100%;
  height: 150px;
  background-image: url('../img/mot.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}

.hmot:hover {
  width: 100%;
  height: 150px;
  background-image: url('../img/hmot.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease-in-out;
}