/* Pinned */

/* 1 Button */
.btn1 {
background-image:  url('../img/UP2.png');
background-repeat: no-repeat;
background-position: center;
background-size: 40px;
line-height: 1;
font-size: 18px;
color: black;
position: fixed;
margin: auto;
bottom: 60%;
background-color: white;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
cursor: pointer;
display: fixed;
font-family: Samsung Sharp Sans;

}

.btn1:hover {
background-image:  url('../img/UP1.png');
background-repeat: no-repeat;
background-position: center;
line-height: 1;
color: white;
position: fixed;
margin: auto;
bottom: 60%;
background-color: black;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
cursor: pointer;
display: fixed;
font-family: Samsung Sharp Sans;
cursor: crosshair;
}

@media (max-height: 750px) {
.btn1{
display: none;
}
}
/* END OF 1 Button */

/* 2 Button */
.btn2 {
background-image:  url('../img/pr1.png');
background-repeat: no-repeat;
background-position: center;
background-size: 40px;
line-height: 1;
font-size: 18px;
color: black;
position: fixed;
margin: auto;
bottom: 50%;
background-color: white;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
cursor: pointer;
display: fixed;
font-family: Samsung Sharp Sans;
cursor: crosshair;
}


.btn2:hover {
background-image:  url('../img/pr2.png');
background-repeat: no-repeat;
background-position: center;
background-size: 40px;
line-height: 1;
color: white;
position: fixed;
margin: auto;
bottom: 50%;
background-color: black;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
cursor: pointer;
display: fixed;
font-family: Samsung Sharp Sans;
cursor: crosshair;
}

@media (max-height: 750px) {
.btn2{
display: none;
}
}
/* END OF 2 Button */

/* 3 Button */
.btn3 {
background-image:  url('../img/a1.png');
background-repeat: no-repeat;
background-position: center;
background-size: 30px;
line-height: 1;
font-size: 18px;
color: black;
position: fixed;
margin: auto;
bottom: 40%;
background-color: white;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
/*  cursor: pointer;*/
cursor: crosshair;
display: fixed;
font-family: Samsung Sharp Sans;
}


.btn3:hover {
background-image:  url('../img/a2.png');
background-repeat: no-repeat;
background-position: center;
background-size: 30px;
line-height: 1;
color: white;
position: fixed;
margin: auto;
bottom: 40%;
background-color: black;
border: 2px solid white;
border-left: none;
border-radius: 0% 10px 10px 0%;
height: 70px;
width: 40px;
/*  cursor: pointer;*/
display: fixed;
font-family: Samsung Sharp Sans;
cursor: crosshair;
}

@media (max-height: 750px) {
.btn3{
display: none;
}
}
/* END OF 3 Button */


* {
margin: 0;
padding: 0;
user-select: none;
box-sizing: border-box;
/*    font-family: 'Poppins', sans-serif;*/
}

/* body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
} */

.red, .green {
cursor: pointer;
transition: 0.5s;
}

.red {
/*    color: red;*/
}

.green {
/*    color: green;*/
transform: rotate(135deg);
}




.center1{
-webkit-touch-callout: auto; /* iOS Safari  */
-webkit-user-select: auto;   /* Chrome/Safari/Opera */
-khtml-user-select: auto;    /* Konqueror */
-moz-user-select: auto;      /* Firefox */
-ms-user-select: auto;       /* Internet Explorer/Edge */
user-select: auto;           /* Non-prefixed version, currently not supported by any browser */
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 999;
left: 50%;
}

.p1{
display: flex;
position: absolute;
left: 15px;
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
.p2{
display: flex;
position: absolute;
/*  font-size: 10px;*/
left: 15px;
top: 50%;
opacity: 0;
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.inner .p1 {
display: flex;
justify-content: center;
/*    opacity: 0;*/
position: absolute;
left: 20px;
inset: 3px;
/*    background: linear-gradient(20deg, purple, blue);*/
background-size: cover !important;
background-position: center !important;
border-radius: 48px;
border: 10px solid #000;
transition: 0.5s;
}
.dynamiclogo{
left: 5px; 
color: rgba(0, 0, 0, 0);
width: 15px;
height: 15px;
display: flex; 
position: absolute;
background-position: center;
background-repeat: no-repeat;
background-image: url('../img/logo.png');
background-size: 15px;
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.d_dot{
	display: flex;
position: absolute;
width: 30px;
height: 30px;
background-color: black;
box-shadow: 0px 0px 10px black;
border: solid rgba(255, 255, 255, 0.2) 1.5px;
left: 90px;
top: 10px;
border-radius: 999px;
align-items: center;
z-index: 1;
}



.d_dot2{
	display: flex;
/*position: absolute;*/
width: 10px;
height: 10px;
background-color: white;
/*border: solid rgba(255, 255, 255, 1) 1.5px;*/
/*left: 90px;*/
/*top: 10px;*/
border-radius: 999px;
margin-right: auto;
margin-left: auto;
}

.d_dot2:hover{
	display: flex;
/*position: absolute;*/
width: 10px;
height: 10px;
background-color: white;
/*border: solid rgba(255, 255, 255, 1) 1.5px;*/
/*left: 90px;*/
/*top: 10px;*/
border-radius: 999px;
margin-right: auto;
margin-left: auto;
}

@keyframes flicker {
  0%{
 background-color: red;  
}

10%{
	background-color: darkred;
} 

 20%{
 background-color: red;  
}

30%{
	background-color: darkred;
} 

  40%{
 background-color: red;  
}

50%{
	background-color: darkred;
} 

  60%{
 background-color: red;  
}

70%{
	background-color: darkred;
} 

  80%{
 background-color: red;  
}

90%{
	background-color: darkred;
} 

  100%{
 background-color: red;  
}

}

@keyframes flicker0 {
  0%{
 background-color: white;  
}

  100%{
 background-color: white;  
}

}

.dynamic_button1{
width: 15px;
height: 15px;
display: flex;
position: absolute;
/*  background-color: white;*/
right: 10px;
border-radius: 999px;
opacity: 0;

background-image: url('../img/custcursor.png');
background-position: center;
background-size: 15px;
background-repeat: no-repeat;
}

.dynamic_button2{
width: 15px;
height: 15px;
display: flex;
position: absolute;
background-color: white;
right: 35px;
border-radius: 999px;
opacity: 0;
background-image: url('../img/origcursor.png');
background-position: center;
background-size: 15px;
background-repeat: no-repeat;
}

.dynamic_island {
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 10px;
width: 135px;
height: 30px;
background: #000;
border-radius: 20px;
transition: 0.5s ease-in-out;
box-shadow: 0px 0px 10px black;
border: 1.5px solid rgba(255, 255, 255, 0.2);
z-index: 2;
}

.dynamic_island:hover {
width: 200px;
height: 30px;
justify-content: center;
align-items: center;
}

.dynamic_island.active {
width: 250px;
height: 60px;
border-radius: 50px;
}

.content {
position: relative;
display: flex;
justify-content: space-between;
padding: 10px;
line-height: 25px;
width: 100%;
color: #fff;
}

.content .p1 {
color: #fff;
font-size: 0.9em;
cursor: pointer;
opacity: 0;
transition: 0.5s;
z-index: 9999;
left: 20px;
}

.action {
position: relative;
color: #fff;
top: 5px;
display: flex;
transition: 0.5s;
visibility: hidden;
gap: 12px;
opacity: 0;
}


.dynamic_island.active .p1,
.dynamic_island.active .dynamiclogo,
.dynamic_island:hover .dynamiclogo,
.dynamic_island:hover .p1,
.dynamic_island:hover .dynamic_button1,
.dynamic_island:hover .dynamic_button2,
.dynamic_island:hover .action,
.dynamic_island.active .action {
visibility: visible;
opacity: 1;
transition-delay: 0.25s;
}

.d_dot.active1{
/*visibility: visible;*/
opacity: 0;
/*transition-delay: 0.25s;*/
}

.dynamic_island.active .p1 {
display: flex;
position: absolute;
left: 45px;
font-size: 1.2em;
transition-delay: 0.25s;
}

.dynamic_island.active .p2 {
opacity: 1;
display: flex;
position: absolute;
left: 45px;
font-size: 0.8em;
color: gray;
}

.dynamic_island.active .p1 {
opacity: 1;
display: flex;
position: absolute;
bottom: 30%;
left: 45px;
/*    font-size: 0.8em;*/
/*    color: gray;*/
}

.dynamic_island.active .dynamiclogo {
display: flex;
position: absolute;
/*  left: 45px;*/
width: 50px;
height: 50px;
background-size: 0px;
font-size: 1.2em;
}

.dynamic_island.active .dynamic_button1 {
display: flex;
position: absolute;
/*  left: 45px;*/
opacity: 0;
width: 0px;
height: 0px;
background-size: 0px;
/*    font-size: 1.2em;*/
transition-delay: 0.25s;
}
.dynamic_island.active .dynamic_button2 {
display: flex;
position: absolute;
/*  left: 45px;*/
opacity: 0;
width: 0px;
height: 0px;
background-size: 0px;
/*    font-size: 1.2em;*/
transition-delay: 0.25s;
}

.dynamic_island.active .red {
background-image: url('../img/origcursor.png');
background-size: 30px;
background-position: center;
background-repeat: no-repeat;
display: flex;
position: absolute;
bottom: 45%;
left: 5px;
background-color: white;
width: 30px;
height: 30px;
color: #fff;
border-radius: 999px;
border: 5.5px solid;
/*    border-color: rgba(100, 100, 100, 0.5);*/
/*     animation: animateBg 8s linear infinite;*/
/*  border-image: url('../img/border-gradient') 5 5;*/
box-shadow: 0px 0px 10px white;
/*  background-size: 100% 300%;*/
margin-right: 8px;
transform: rotate(360deg);
cursor: crosshair;
}

/*@keyframes animateBg {
0% { background-position: 0% 0%; }
100% { background-position: 0% 100%; }
}*/


.dynamic_island.active .green {
display: flex;
position: absolute;
bottom: 45%;
/*  top: 50%;*/
right: 5px;
/*    background: white;*/
background-image: url('../img/custcursor.png');
background-position: center;
background-size: 30px;
background-repeat: no-repeat;
width: 30px;
height: 30px;
color: #fff;
border-radius: 999px;
box-shadow: 0px 0px 10px white;
margin-right: 8px;
transform: rotate(360deg);
cursor: crosshair;
}

.details {
position: relative;
display: flex;
align-items: center;
}

.details .imgBox {
background-position: center;
background-repeat: no-repeat;
background-image: url('../img/logo.png');
background-size: 25px;    
position: relative;
width: 0;
height: 0;
/*    background: white;*/
/*    border-radius: 50%;*/
overflow: hidden;
transition: 0.5s;
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.dynamic_island.active .details .imgBox {
width: 40px;
height: 40px;
margin-right: 8px;
}

.dynamic_island.active .action {
top: 12px;
}

.dynamic_island .imgBox .img1 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}





.vers{
display: flex;
position: fixed;
bottom: 0px;
left: 0px;
color: gray;
font-size: 0.8em;
z-index: 9999999999;
font-family: Samsung Sharp Sans;
opacity: 0;
}

.vers:hover {
display: flex;
position: fixed;
bottom: 0px;
left: 0px;
color: gray;
font-size: 0.8em;
z-index: 9999999999;
font-family: Samsung Sharp Sans;
opacity: 1;
}

.m1{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: -100vh;
/*	background-image: url('../img/image 1.png');
	background-size: 550px;*/
/*	background: linear-gradient(152.97deg, rgba(21, 21, 21, 1) 0%, rgba(21, 21, 21, 0) 100%);*/
/*	background-color: gray;*/
/*background-color: rgba(255, 255, 255, 0.5);*/
background-color: rgba(0, 0, 0, 0.5);
/*mix-blend-mode: difference;*/
/*-webkit-backdrop-filter: invert(100%);*/
/*backdrop-filter: invert(100);*/
backdrop-filter: invert(.7);
	z-index: 2;

-webkit-backdrop-filter: blur(25px);
backdrop-filter: blur(25px);
/*border: 1.5px solid rgba(255, 255, 255, 0.2);
border-left: none;
border-right: none;
border-top: none;*/
}



/* END OF Pinned */