.pr {
color: black;
background-size: cover;
background-position: center;


width: 100%;
height: 100vh;
font-family: Samsung Sharp Sans;

position: relative;
width: 100%;
min-height: 100vh;
max-height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
/*  background: url('../img/gr.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
/*  border: 1px solid red;*/
}

.bhr{
  background-color: black;
  height: 3px;
  width: 100%;
}

.hr{
  background-color: white;
  height: 3px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 999px;
}

.admlogo{
  display: flex;
position: static;
/*background-color: green;*/
background-image: url('../img/as_l.png');
/*background-size: 30%;*/
/*background-color: red;*/
background-position: bottom;
/* background-position: center top;*/
background-repeat: no-repeat;
background-size: contain;
width: 170px;
/*min-width: 200px;*/
height: 50%;
margin-right: auto;
margin-left: auto;
}

.admlogo2{
  display: flex;
position: static;
/*background-color: green;*/
background-image: url('../img/Frame 2.png');
/*background-size: 30%;*/
/*background-color: red;*/
background-position: bottom;
/* background-position: center top;*/
background-repeat: no-repeat;
background-size: contain;
width: 170px;
/*min-width: 200px;*/
height: 50%;
margin-right: auto;
margin-left: auto;
}

.admlogo3{
  display: flex;
position: static;
/*background-color: green;*/
background-image: url('../img/othl.png');
/*background-size: 30%;*/
/*background-color: red;*/
background-position: bottom;
/* background-position: center top;*/
background-repeat: no-repeat;
background-size: contain;
width: 170px;
/*min-width: 200px;*/
height: 50%;
margin-right: auto;
margin-left: auto;
}

@media (max-width: 920px) {

/*.pr2{
background: linear-gradient(210deg,#ffffff,gray,#000000,#000000,#000000);
background-size: 180% 180%;
}*/
}


.pr2 {
color: black;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-left: none;
border-right: none;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: 100vh;
font-family: Samsung Sharp Sans;
}

.c1{
/*-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);*/
  display: flex;
width: 50%;
height: 50%;
border-radius: 50px 15px 45px 15px;
/*background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.2) 0%, rgba(21, 21, 21, 0) 100%);*/
background-color: rgba(0, 0, 0, 0.5);
top: 50;
left: 50;
right: 50;
bottom: 50;
border: 3px solid;
border-color: rgba(255, 255, 255, 0.5);
}

/*.c1:before{
content: "";
position: absolute;
width: 100%;
height: 100%;
top: 50;
left: 50;
right: 50;
bottom: 50;
border-radius: 50px 15px 50px 15px;
border: 3px solid transparent;
background: radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%), radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) border-box;
-webkit-mask:
linear-gradient(#fff 0 0) padding-box, 
linear-gradient(#fff 0 0);
-webkit-mask-composite: destination-out;
mask-composite: exclude;
}*/

/*@media (max-width: 920px) {
.c1{
width: 65%;
height: 65%;
}
.title-pr{
width: 65%;
}
}*/

@media (max-width: 920px) {
.c1{
width: 80%;
}
.title-pr{
width: 80%;
}
}

@media (max-height: 520px) {
.c1{
font-size: 30px;
height: 70%;
mix-blend-mode: normal;
}
}

.title-pr{
/*mix-blend-mode: difference;*/
color: white;
width: 50%;
font-size: 50px;
padding-bottom: 50px;
/*-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: hite;*/       
position: absolute;
top: 15%;
}

@media (max-width: 920px) {
.title-pr{
width: 80%;
/*mix-blend-mode: normal;*/
}
}

@media (max-height: 520px) {
.title-pr{
font-size: 30px;
height: 30px;
/*mix-blend-mode: normal;*/
}
}

input.set { display:none; }

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }
#slide5:checked ~ .mask .overflow { margin-left:-400%; }

#slides { width:100%; height: 100%; position:relative; color: white; text-align: center; }

#slides .mask { width:90%; height: 100%; overflow:hidden; margin:auto; }

#slides .overflow { width:400%;height: 100%; -webkit-transform:translateZ(0); -webkit-transition:all 0.5s ease-out; -moz-transition:all 0.5s ease-out; -o-transition:all 0.5s ease-out; transition:all 0.5s ease-out; }

#slides .slide { width:25%; height:100%; line-height:200px; float:left; background:rgba(255, 0, 0, 0); display: flex; align-items: center; justify-content: center; }

#controls { width:100%; }

#controls label { display:none; width:10%; min-width: 50px; max-width: 70px; height:50%; opacity:0.3; position:absolute; top:25%; margin-top:0px; 
transition: 0.8s;
}

#controls label:hover { opacity:0.8; 
  transition: 0.8s;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }

@media (max-width: 920px) {
#controls label {
width: 35px;
}
}

.b1{
/*-webkit-backdrop-filter: blur(25px);
backdrop-filter: blur(25px);*/
background-image: url('../img/controls.png');
background-color: rgba(0, 0, 0, 0.2);
background-repeat: no-repeat;
background-position: center;
background-size: 50px;
border-radius: 0px 0px 0px 0px; 
border: 2px solid transparent; 
border-color: white;
width: 100%;
height: 100%;
border-left: none;
border-right: none;
display: flex;
align-items: center;
justify-content: center;
transition: 0.8s;
}

.sl1{
display: flex;
flex-flow: column wrap;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
}

.sl_l1{
display: flex;
position: revert;
flex-direction: column;
background-image: url('../img/logo.png');
width: 100%;
height: 150px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
}

.sl_l2{
display: flex;
position: relative;
background-image: url('../img/as_l.png');
width: 100%;
height: 150px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
}

.sl_l3{
display: flex;
position: revert;
background-image: url('../img/xnl.png');
width: 100%;
height: 150px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
}

.sl_l4{
display: flex;
position: relative;
background-image: url('../img/othl.png');
width: 100%;
height: 150px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
}

.sl_t1{
display: flex;
position: relative;
width: 100%;
height: 25px;
font-size: 25px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
align-items: center;
justify-content: center;
padding-block: 20px;
}
.sl_t2{
display: flex;
position: relative;
width: 100%;
height: 25px;
font-size: 25px;
background-size: 120px;
background-repeat: no-repeat;
background-position: center;
align-items: center;
justify-content: center;
padding-block: 20px;
}

a{
text-decoration: none;
/*color: white;*/
}

a:hover{
/*color: black;*/
text-decoration: none;
}

.ah:hover{
text-decoration: underline;
}

.sb1 {
font-family: Samsung Sharp Sans;
/*-webkit-backdrop-filter: blur(25px);
backdrop-filter: blur(25px);*/
border-radius: 999px;
border: 3px solid;
border-color: white;
color: white;
background-color: rgba(0, 0, 0, 0.3);
/*color: white;*/

display: flex;
font-size: 20px;
margin-left: auto;
margin-right: auto;
z-index: 9;
width: 150px;
height: 50px;
background-repeat: no-repeat;
background-position: center;
align-items: center;
justify-content: center;
transition: 0.8s;
/*cursor: crosshair;*/
}

.sb1:hover {
font-family: Samsung Sharp Sans;
border-radius: 999px;
border: 3px solid;
border-color: white;
background-color: white;
display: flex;
color: black;
font-size: 20px;
width: 150px;
height: 50px;
background-repeat: no-repeat;
background-position: center;
align-items: center;
justify-content: center;
/*cursor: crosshair;*/
color: black;
  transition: 0.8s;
}

.title-pr2{
padding-top: 200px;
display: flex;
position: absolute;
padding-top: 20px;
color: white;
width: 80%;
height: 85px;
font-size: 50px;
}

.title-pr3{
  text-align: left;
display: flex;
 margin-left: auto; margin-right: auto;
padding-top: 20px;
color: white;
width: 80%;
font-size: 7vh;
}

.logo2 {
display: flex;
background-image: url('../img/logo.png');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
margin-top: auto;
width: 100%;
height: 100px;
/*justify-content: center;*/
}

.logo2:hover {
-webkit-animation: swing 0.6s ease;
animation: swing 0.6s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.note{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
/*  height: 50px;*/
font-size: 20pt;
padding-top: 8pt;
padding-bottom: 8pt;
  background: url('../img/gr.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border: 2px solid white;
}

.border1{
  position: absolute;
  background-color: black;
  rotate: 10deg;
  width: 150%;
  height: 50%;
  top: -27%;
  box-shadow: 10px 5px 35px black;
}

.border2{
  position: absolute;
  background-color: black;
  rotate: -10deg;
  width: 150%;
  height: 50%;
  bottom: -27%;
    box-shadow: -10px -5px 35px black;
}

.glitch {
  background-color: red;
  background: #000 no-repeat center;
  background-size: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.glitch::before {
  animation: glitch-before 9s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 44.3142306018%, 100% 44.3142306018%, 100% 48.4994798253%, 0% 48.4994798253%);
    transform: translate(-1.2987798476%, -0.3155978776%);
  }
  2% {
    clip-path: polygon(0% 63.4316998135%, 100% 63.4316998135%, 100% 64.4384875265%, 0% 64.4384875265%);
    transform: translate(-7.8981080801%, -0.4602461999%);
  }
  4% {
    clip-path: polygon(0% 21.9068049115%, 100% 21.9068049115%, 100% 25.2856791196%, 0% 25.2856791196%);
    transform: translate(2.3285862858%, -0.3146622434%);
  }
  6% {
    clip-path: polygon(0% 45.7091442214%, 100% 45.7091442214%, 100% 49.1348996281%, 0% 49.1348996281%);
    transform: translate(-1.1573149301%, -0.4773937257%);
  }
  8% {
    clip-path: polygon(0% 57.7683856525%, 100% 57.7683856525%, 100% 64.4581041387%, 0% 64.4581041387%);
    transform: translate(-3.8572782889%, -0.2189841697%);
  }
  10% {
    clip-path: polygon(0% 28.8732219691%, 100% 28.8732219691%, 100% 32.3788979887%, 0% 32.3788979887%);
    transform: translate(-7.0806730105%, 0.3028858325%);
  }
  12% {
    clip-path: polygon(0% 79.7749056692%, 100% 79.7749056692%, 100% 88.244065967%, 0% 88.244065967%);
    transform: translate(-1.5184873256%, 0.1125579099%);
  }
  14% {
    clip-path: polygon(0% 58.7838974542%, 100% 58.7838974542%, 100% 64.710034719%, 0% 64.710034719%);
    transform: translate(-1.6615194213%, 0.1704819514%);
  }
  16% {
    clip-path: polygon(0% 14.9281013501%, 100% 14.9281013501%, 100% 24.2558822929%, 0% 24.2558822929%);
    transform: translate(3.592064857%, 0.1965963728%);
  }
  18% {
    clip-path: polygon(0% 84.7969326892%, 100% 84.7969326892%, 100% 94.3731926846%, 0% 94.3731926846%);
    transform: translate(2.8669427568%, -0.202242366%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
/*    background-image: url(https://cdn.neowin.com/news/images/galleries/4701/1662982207_windows_11_black_-_lockscreen.jpg);*/
  }
}
.glitch::after {
  animation: glitch-after 1s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 34.5669556226%, 100% 34.5669556226%, 100% 42.8525446466%, 0% 42.8525446466%);
    transform: translate(4.4732295246%, -0.1707763934%);
  }
  2% {
    clip-path: polygon(0% 17.8726812132%, 100% 17.8726812132%, 100% 21.4006000498%, 0% 21.4006000498%);
    transform: translate(1.6880968675%, 0.2193505041%);
  }
  4% {
    clip-path: polygon(0% 33.2240777219%, 100% 33.2240777219%, 100% 40.5897046463%, 0% 40.5897046463%);
    transform: translate(1.3773526967%, -0.4439191607%);
  }
  6% {
    clip-path: polygon(0% 67.9590799008%, 100% 67.9590799008%, 100% 71.6440199547%, 0% 71.6440199547%);
    transform: translate(7.5972699271%, -0.0993836134%);
  }
  8% {
    clip-path: polygon(0% 14.0784614505%, 100% 14.0784614505%, 100% 23.3047199535%, 0% 23.3047199535%);
    transform: translate(2.9361542392%, 0.4906067525%);
  }
  10% {
    clip-path: polygon(0% 12.8513267231%, 100% 12.8513267231%, 100% 16.1336758821%, 0% 16.1336758821%);
    transform: translate(4.0495083681%, -0.2914928546%);
  }
  12% {
    clip-path: polygon(0% 60.9489120576%, 100% 60.9489120576%, 100% 64.599028791%, 0% 64.599028791%);
    transform: translate(-1.6900338919%, 0.3060217955%);
  }
  14% {
    clip-path: polygon(0% 14.6012432711%, 100% 14.6012432711%, 100% 21.7157263425%, 0% 21.7157263425%);
    transform: translate(-3.06711046%, 0.4284205505%);
  }
  16% {
    clip-path: polygon(0% 10.130303782%, 100% 10.130303782%, 100% 11.7592784457%, 0% 11.7592784457%);
    transform: translate(-0.1760073892%, 0.473118375%);
  }
  18% {
    clip-path: polygon(0% 6.6024140207%, 100% 6.6024140207%, 100% 9.3177283734%, 0% 9.3177283734%);
    transform: translate(-6.9664970449%, -0.058724485%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(1.3874969437%, -0.3278563551%);
  }
  2% {
    transform: translate(-0.4536134784%, -0.3064820173%);
  }
  4% {
    transform: translate(-1.2554700433%, -0.1784369589%);
  }
  6% {
    transform: translate(-1.0128110594%, 0.4789084903%);
  }
  8% {
    transform: translate(0.7981083219%, 0.063662988%);
  }
  10% {
    transform: translate(-0.1809819505%, 0.2567531046%);
  }
  12% {
    transform: translate(0.9004426234%, -0.1951719271%);
  }
  14% {
    transform: translate(-1.4096814051%, 0.3523048991%);
  }
  16% {
    transform: translate(1.5236802668%, -0.358198747%);
  }
  18% {
    transform: translate(0.551446152%, -0.4674411345%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: black;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.0057912376%, 0.3266790239%);
  }
  2% {
    transform: translate(-1.59698071%, 0.096172729%);
  }
  4% {
    transform: translate(-1.2819387081%, -0.4508855669%);
  }
  6% {
    transform: translate(-1.5805925211%, -0.1315079592%);
  }
  8% {
    transform: translate(1.7164533908%, -0.2690309842%);
  }
  10% {
    transform: translate(0.7946798283%, 0.0933038137%);
  }
  12% {
    transform: translate(0.4193652867%, -0.4397473324%);
  }
  14% {
    transform: translate(-1.6839730711%, -0.0582861406%);
  }
  16% {
    transform: translate(0.232303582%, 0.1433163115%);
  }
  18% {
    transform: translate(0.0351441658%, -0.2591795795%);
  }
  20%, 100% {
    transform: none;
/*    background-image: url(https://cdn.neowin.com/news/images/galleries/4701/1662982207_windows_11_black_-_lockscreen.jpg);*/
  }
}
.glitch .g::before {
  background: white;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-1.9999511842%, 0.4332533896%);
  }
  2% {
    transform: translate(1.6073951874%, -0.4501681305%);
  }
  4% {
    transform: translate(0.8929688096%, 0.2457925133%);
  }
  6% {
    transform: translate(-1.3465851879%, 0.3047274767%);
  }
  8% {
    transform: translate(-1.0481072157%, -0.2925646566%);
  }
  10% {
    transform: translate(1.7351498138%, -0.1608391345%);
  }
  12% {
    transform: translate(-1.2544920027%, -0.0247894522%);
  }
  14% {
    transform: translate(0.3920897525%, -0.2088207406%);
  }
  16% {
    transform: translate(0.1921827194%, 0.4078612545%);
  }
  18% {
    transform: translate(-0.3965611407%, 0.158530134%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: white;
}