/* Settings Web Page */
html{
scroll-behavior: smooth;
background-color: black;
text-decoration: none;
color: white;
}

@font-face { font-family: Samsung Sharp Sans; src: url('../fonts/Font1.otf'); } 
body {
background-color: black;
margin: 0;
background: black;
padding: 0;
overflow-x:hidden; 
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
/*  cursor: none;*/
/*cursor: auto;*/
font-family: Samsung Sharp Sans;
}

@media (max-height: 319px) {
body{
display: none;
}
html{
width: 319px;
height: 319px;
background-image: url('../img/smallscreenbg.png');
background-position: center;
background-repeat: repeat;
}
}
/* END OF Settings Web Page */

/* Custom Settings */

/* Custom Cursor */
*,
*::after,
*::before {
box-sizing: border-box;
cursor: !important;
/*    cursor: none !important;*/
}

.cursor__inner {
z-index: 99999999999999;
pointer-events: none;
position: absolute;
top: 0;
left: 0;
mix-blend-mode: difference;
border-radius: 50%;
/*    display: none;*/
}

.cursor__inner--dot {
/*    position: absolute;*/

width: 8px;
height: 8px;
background: #fff;
}

.cursor__inner--circle {
/*    bottom: 20px;*/
width: 35px;
height: 35px;
border: 2px solid red;
border: 2px solid #fff;
}
@media screen and (max-width: 479px){
.cursor__inner{
/*        display: none;*/
}
.cursor__inner--dot{
/*       display: none; */
}
.cursor__inner--circle{
/*       display: none; */
}
}
@media screen and (max-width: 959px){
.cursor__inner{
/*        display: none;*/
}
.cursor__inner--dot{
/*       display: none; */
}
.cursor__inner--circle{
/*       display: none; */
}
}

/* END OF Custom Cursor */

/* Custom ScrollBar */
::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-track {
opacity: 0.5;
background: black; 
border-radius: 0% 0% 0% 0%;

}

::-webkit-scrollbar-thumb {
background: black; 
border: solid;
border-radius: 1px;
border-color: white;
border-radius: 0% 0% 0% 0%;

}

::-webkit-scrollbar-thumb:hover {
background: black; 
}
/* END OF Custom ScrollBar */

#cursor0{
ccursor:auto;
}


#app {
display: flex;
position: absolute;
width: 300px;
height: 300px;
background: #eee;
border: 1px solid #ccc;
overflow: hidden;
-webkit-touch-callout: none; /* iOS Safari  */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}


/* END OF Custom Settings */