/* Pinned */

/* 1 Button */
.btn1 {
  background-image:  url('../img/UP2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 60%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;

}

.btn1:hover {
  background-image:  url('../img/UP1.png');
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 60%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn1{
    display: none;
  }
}
/* END OF 1 Button */

/* 2 Button */
.btn2 {
  background-image:  url('../img/pr1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 50%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}


.btn2:hover {
  background-image:  url('../img/pr2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 50%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn2{
    display: none;
  }
}
/* END OF 2 Button */

/* 3 Button */
.btn3 {
  background-image:  url('../img/a1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  line-height: 1;
  font-size: 18px;
  color: black;
  position: fixed;
  margin: auto;
  bottom: 40%;
  background-color: white;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}


.btn3:hover {
  background-image:  url('../img/a2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  line-height: 1;
  color: white;
  position: fixed;
  margin: auto;
  bottom: 40%;
  background-color: black;
  border: 2px solid white;
  border-left: none;
  border-radius: 0% 10px 10px 0%;
  height: 70px;
  width: 40px;
  cursor: pointer;
  display: fixed;
  font-family: Gilroy;
}

@media (max-height: 750px) {
  .btn3{
    display: none;
  }
}
/* END OF 3 Button */

/* Go To */
.gotolite{
  display: fixed;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: 100px;
  height: 50px;
  background-color: black;
  border: 3px solid;
  border-color: white;
  border-radius: 999px;
}
/* END OF Go To */




* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
/*    font-family: 'Poppins', sans-serif;*/
}

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.red, .green {
    cursor: pointer;
    transition: 0.5s;
}

.red {
    color: red;
}

.green {
    color: green;
    transform: rotate(135deg);
}




.center1{
    -webkit-touch-callout: auto; /* iOS Safari  */
  -webkit-user-select: auto;   /* Chrome/Safari/Opera */
  -khtml-user-select: auto;    /* Konqueror */
  -moz-user-select: auto;      /* Firefox */
  -ms-user-select: auto;       /* Internet Explorer/Edge */
  user-select: auto;           /* Non-prefixed version, currently not supported by any browser */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 50%;
}

.inner .p1 {
    display: flex;
    justify-content: center;
/*    opacity: 0;*/
    position: absolute;
    inset: 3px;
/*    background: linear-gradient(20deg, purple, blue);*/
    background-size: cover !important;
    background-position: center !important;
    border-radius: 48px;
    border: 10px solid #000;
    transition: 0.5s;
}

.dynamic_island {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100px;
    height: 25px;
    background: #000;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.dynamic_island:hover {
    width: 200px;
    height: 25px;
        justify-content: center;
    align-items: center;
}

.dynamic_island.active {
    width: 250px;
    height: 60px;
    border-radius: 50px;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    line-height: 25px;
    width: 100%;
    color: #fff;
}

.content .p1 {
    color: #fff;
    font-size: 0.6em;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    z-index: 9999;
}

.action {
    position: relative;
    color: #fff;
    top: 5px;
    display: flex;
    transition: 0.5s;
    visibility: hidden;
    gap: 12px;
    opacity: 0;
}

.dynamic_island.active .p1,
.dynamic_island:hover .p1,
.dynamic_island:hover .action,
.dynamic_island.active .action {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.25s;
}

.dynamic_island.active .p1 {
    font-size: 1.2em;
}

.dynamic_island.active .red {
    background: red;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 8px red;
    margin-right: 12px;
}

.dynamic_island.active .green {
    background: green;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 8px green;
    margin-right: 8px;
}

.details {
    position: relative;
    display: flex;
    align-items: center;
}

.details .imgBox {
    position: relative;
    width: 0;
    height: 0;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.dynamic_island.active .details .imgBox {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.dynamic_island.active .action {
    top: 12px;
}

.dynamic_island .imgBox .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* END OF Pinned */